<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Service URI</key>
	<string>https://devzone.advantagedatabase.com:6282/adsweb/example_db/1/</string>
	<key>Service URI - jd</key>
	<string>http://jdsmac_win7:6272/adsweb/example_db/1/</string>
</dict>
</plist>
